@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #212112;
  background-position: center;
  background-repeat: repeat;
  background-size: 7%;
  background-color: #fff;
  overflow-x: hidden;
  transition: all 200ms linear;
}

@font-face {
  font-family: Rustico Regular;
  font-weight: 400;
}

.bg-light {
  border-radius: 10px;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.for-svg_height {
  width: 25px;
  height: auto;
  margin-bottom: 10px;
}
/* Left & Right */
.card-title {
  cursor: pointer;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}
.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}
.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}
.modal.left.fade.show .modal-dialog {
  left: 0;
}
.modal.right.fade .modal-dialog {
  right: -500px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}
.modal.right.fade.show .modal-dialog {
  right: 0;
}
.modal.left .modal-content,
.modal.right .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}
.modal.left .modal-dialog.modal-sm,
.modal.right .modal-dialog.modal-sm {
  width: 300px;
}
.modal.left .modal-dialog.modal-lg,
.modal.right .modal-dialog.modal-lg {
  width: 800px;
}
.modal.left .modal-dialog.modal-xl,
.modal.right .modal-dialog.modal-xl {
  width: 1140px;
}
/* Top and Bottom */
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.modal.top .modal-content,
.modal.bottom .modal-content {
  height: auto;
  overflow-y: auto;
}
.modal.top .modal-body,
.modal.bottom .modal-body {
  padding: 15px 15px;
}
/* Top */
.modal.top.fade .modal-dialog {
  top: -100%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
.modal.top.fade.show .modal-dialog {
  top: 0;
}
/* Bottom */
.modal.bottom.fade .modal-dialog {
  bottom: -100%;
  -webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
  transition: opacity 0.3s linear, bottom 0.3s ease-out;
}
.modal.bottom.fade.show .modal-dialog {
  bottom: 0;
}
.modal.bottom.fade .modal-dialog {
  bottom: -100%;
}
/* Full Screen */
.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}
.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}
/* Footer */
.modal-footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-radius: 0;
}
/* XS */
.modal.left.xs .modal-body,
.modal.right.xs .modal-body {
  padding: 15px;
}
/* Full screen modal menu indicators */
a.has-sub:after {
  font-family: "FontAwesome";
}
a.has-sub:after {
  content: "\f107";
  margin-left: 1rem;
}
a.has-sub[aria-expanded="true"]:after {
  content: "\f106";
}
/*<=========================Header_css_Start==========================>*/
.for_tab_panel_fix {
  margin-top: 0 ! important;
  top: 75px;
  position: sticky;
  align-self: flex-start;
  z-index: 1040;
}

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 5px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  height: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bg-dark {
  background: #000!important;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: 70px;
  width: auto;
  display: block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  transition: all 200ms linear;
  font-size: 12px;
}

.nav-item:hover .nav-link {
  color: #A77337 !important;
  font-size: 12px;
}

.nav-item.active .nav-link {
  color: #fff !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, .5);
  border-color: rgba(0, 0, 0, .1);
  border: 1px solid #fff;
  padding: 5px;
}

.nav-item:after {
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #A77337;
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  transition: all 200ms linear;
  text-transform: uppercase;
}

.active-pills {
  display: block!important;
  padding: .5rem 1rem!important;
  color: #000!important;
  text-align: right;
  background-color: #fff;
  border-radius: 20px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff!important;
  background-color: #A77337!important;
}

.main {
  width: 50%;
  margin: 50px auto;
  background-color: red;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 40px;
  margin: 15px 0px 0px 0px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.card .fa {
  color: #A77337;
  font-size: 30px;
  margin: 5px 5px 0px 8px;
}

.card .fa:nth-child(2) {
  margin: 0px;
}

.shape {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -o-transform: rotate(360deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(360deg);
  /* Safari and Chrome */
  transform: rotate(360deg);
}

.listing {
  border: 1px solid #000;
  margin: 15px 0;
  overflow: hidden;
}

.shape {
  border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}

.listing-danger {
  border-color: #000;
  border-radius: 10px;
}

.listing-danger .shape {
  border-color: transparent #fff transparent transparent;
}

.shape-text {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  right: -44px;
  top: 0px;
  white-space: nowrap;
  -ms-transform: rotate(30deg);
  /* IE 9 */
  -o-transform: rotate(360deg);
  /* Opera 10.5 */
  -webkit-transform: rotate(30deg);
  /* Safari and Chrome */
  transform: rotate(30deg);
}

.listing-content {
  padding: 20px 20px 10px;
}

.tab-content span {
  color: #A77337;
  font-size: 20px;
}

.tab-content img {
  cursor: pointer;
}

.btn.focus,
.btn:focus {
  box-shadow: 0 0 0 0.2rem rgb(255 255 255 / 0%)!important;
}

.btn-primary {
  color: #fff;
  background-color: #A77337!important;
  border-color: #A77337!important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000!important;
  border-color: #000!important;
}

.btn-md {
  width: 100px!important;
}


/*<===============Modal-2_css===================================>*/

.cart {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.1);
}

#ProductImg {
  transition: 0.4s;
}

.reviews {
  display: flex;
  margin: 16px 0;
}

.reviews p {
  font-size: 15px;
  color: #777;
  margin: 0;
  margin-left: 8px;
  line-height: 19px;
}

.reviews i {
  color: #a77337;
}

.product-title {
  font-size: 35px;
  font-weight: 700;
  font-style: italic;
  color: #000;
}

.custom-btn {
  background: #a77337;
  color: #fff;
  display: block;
  width: 200px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  transition: 0.3s;
  font-weight: 500;
  margin-top: 0px;
}

.custom-btn:hover {
  text-decoration: none;
  color: #fff;
  opacity: 0.88;
  background-color: #000;
}


/*<========================bootstrap-css-start========================>*/

.pr-3, {
    padding-right: 1rem!important;
}

.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.pt-1, .py-1 {
    padding-top: .25rem!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.text-white {
    color: #fff!important;
}

.p-0 {
    padding: 0!important;
}

.btn-link {
    font-weight: 400;
    color: #007bff;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}

h1, h2, h3, h1, h2, h3 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.p-3 {
    padding: 16px!important;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.nav-pills>li {
     float: none; 
}

.text-right {
    text-align: right!important;
}
.m-0 {
    margin: 0!important;
}
.allergy_text {
    line-height: 37px;
    text-decoration: underline;
    font-size: 16px!important;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pt-3, .py-3 {
    padding-top: 1rem!important;
}
.text-center {
    text-align: center!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.pb-1, .py-1 {
    padding-bottom: .25rem!important;
}
.pt-1, .py-1 {
    padding-top: .25rem!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
h5 {
    font-size: 24px!important;
}

.form-control {
    display: block;
    width: 100%;
    /*height: calc(1.5em + .75rem + 2px);*/
    padding: .375rem .75rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /*border-radius: .25rem;*/
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 40px;
    margin: 15px 0px 0px 0px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.bg-light {
    background-color: #f8f9fa!important;
}

.p-2 {
    padding: .5rem!important;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.justify-content-center {
    /*-ms-flex-pack: center!important;*/
    justify-content: center!important;
}
.align-items-center {
    /*-ms-flex-align: center!important;*/
    align-items: center!important;
}
.flex-column {
    /*-ms-flex-direction: column!important;*/
    flex-direction: column!important;
}

.d-flex {
    /*display: -ms-flexbox!important;*/
    display: flex!important;
}
.modal-body {
    position: relative;
    /*-ms-flex: 1 1 auto;*/
    flex: 1 1 auto;
    padding: 1rem;
    height: 100vh;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.d-none {
    display: none!important;
}

.text-secondary {
    /* color: #6c757d!important; */
}

.mb-4, .my-4 {
    margin-bottom: 24px!important;
}

.mb-3,  {
    margin-bottom: 1rem!important;
}
.mt-3,  {
    margin-top:16px!important;
}

.px-2 {
    padding-right: 6px!important;
}
.px-2 {
    padding-left: 6px!important;
}
.pl-3, .px-3 {
    padding-left: 16px!important;
}
.pb-3, .py-3 {
    padding-bottom: 16px!important;
}
.pr-3, .px-3 {
    padding-right: 16px!important;
}
.pt-3, .py-3 {
    padding-top: 16px!important;
}
.p-2 {
    padding: 8px!important;
}
.mb-auto, .my-auto {
    margin-bottom: auto!important;
}
.mt-auto, .my-auto {
    margin-top: auto!important;
}
.mt-4, .my-4 {
    margin-top: 18px!important;
}

.mb-3, .my-3 {
    margin-bottom: 16px!important;
}
.mt-3, .my-3 {
    margin-top: 16px!important;
}
/*<========================bootstrap-css-start========================>*/





@media only screen and (max-width: 768px) {
  .product-title {
    margin-top: 50px;
    text-align: center;
  }
  #Description p {
    text-align: center;
  }
  .custom-btn {
    margin: 0px;
    width: 100%;
  }
  .sze {
    margin-top: 28px;
  }
  .qty {
    margin-top: 28px;
  }
  .cart {
    padding: 30px;
    margin: 0px;
  }
  .reviews {
    display: flex;
    margin: 16px 0;
    text-align: center !important;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 390px) {
  .cart {
    padding: 15px;
    margin: 0px;
  }
}


/*<=========================My_css_start====================================>*/

#product_details {
  background: #A77337;
  padding: 40px 0px;
}

#product_details .main-product_img {
  height: auto;
  width: 100%;
  max-width: 100%;
  max-height: 500px;
}

.card {
  background: none;
  border: none;
}

.card .card-header {
  background: none;
  border: none;
}

.down_arrow {
  color: #000!important;
  font-size: 25px!important;
}

.rating_box {
  border-right: 1px solid #fff;
}

.delivery-time-box {
  border-right: 1px solid #fff;
}

.offer-p {
  border-bottom: 1px solid #fff;
  margin: 0px 0px 15px 0px;
  font-size: 12px;
  line-height: 20px;
}

#search {
  background-color: #000;
  height: 65px;
}

.allergy_text {
  line-height: 37px;
  text-decoration: underline;
}

.tab-panel {
  /*border-right: 1px solid #A1A1A1;*/
}

.product_bottom_border {
  border-bottom: 2px solid #A77337;
}

.item-list {
  color: #A77337;
  margin:10px 0px;
}

.tab-panel .nav .nav-item .nav-link {
  display: block!important;
  padding: .5rem 1rem!important;
  color: #000!important;
  text-align: right;
  background-color: #fff!important;
}

.tab-panel .nav .nav-item .active {
  display: block!important;
  padding: .5rem 1rem!important;
  color: #fff!important;
  text-align: right;
  background-color: #A77337!important;
}

.for-svg-size {
  width: 80px;
}

.show_noly_md {
  height: 80px;
}


/* Full Screen modal */

.modal_bg {
  background-color: #A77337;
}

.modal.full .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.modal.full .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.full .close-modal {
  position: fixed;
  top: 0;
  right: 3rem;
}

.r-button {
  --uirButtonBackgroundColor: var(--rButtonBackgroundColor, transparent);
  --uirButtonPadding: var(--rButtonPadding, var(--rButtonPaddingTop, 0) var(--rButtonPaddingRight, 0) var(--rButtonPaddingBottom, 0) var(--rButtonPaddingLeft, 0));
  --uirButtonBorderWidth: var(--rButtonBorderWidth, 0);
  --uirButtonBorderStyle: var(--rButtonBorderStyle, solid);
  --uirButtonBorderColor: var(--rButtonBorderColor, currentColor);
  --uirButtonFontFamily: var(--rButtonFontFamily, inherit);
  --uirButtonFontSize: var(--rButtonFontSize, inherit);
  --uirButtonColor: var(--rButtonColor);
  background-color: var(--uirButtonBackgroundColor);
  padding: var(--uirButtonPadding);
  border-width: var(--uirButtonBorderWidth);
  border-style: var(--uirButtonBorderStyle);
  border-color: var(--uirButtonBorderColor);
  cursor: pointer;
  font-family: var(--uirButtonFontFamily);
  font-size: var(--uirButtonFontSize);
}

.r-button::-moz-focus-inner,
.r-button[type="button"]::-moz-focus-inner,
.r-button[type="reset"]::-moz-focus-inner,
.r-button[type="submit"]::-moz-focus-inner {
  /* Remove the inner border and padding in Firefox. */
  border-style: none;
  padding: 0;
}


/* The component will reset browser's styles of link */

.r-link {
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  display: var(--uirLinkDisplay) !important;
  color: var(--uirLinkTextColor) !important;
  text-decoration: var(--uirLinkTextDecoration) !important;
}

.r-link:hover {
  --uirLinkDisplay: var(--rLinkDisplay, inline-flex);
  --uirLinkTextColor: var(--rLinkTextColor);
  --uirLinkTextDecoration: var(--rLinkTextDecoration, none);
  display: var(--uirLinkDisplay) !important;
  color: #000 !important;
  background-color: #fff;
  border-radius: 20px;
  padding: 0px 10px;
  text-decoration: var(--uirLinkTextDecoration) !important;
}


/* The component will reset browser's styles of list */

.r-list {
  --uirListPaddingLeft: var(--rListPaddingLeft, 0);
  --uirListMarginTop: var(--rListMarginTop, 0);
  --uirListMarginBottom: var(--rListMarginBottom, 0);
  --uirListListStyle: var(--rListListStyle, none);
  padding-left: var(--uirListPaddingLeft) !important;
  margin-top: var(--uirListMarginTop) !important;
  margin-bottom: var(--uirListMarginBottom) !important;
  list-style: var(--uirListListStyle) !important;
}


/* Basic styles of the hamburger component */

.m-hamburger {
  --uiHamburgerThickness: var(--hamburgerThickness, 4px);
  display: var(--hamburgerDisplay, inline-flex);
  width: var(--hamburgerWidth, 28px);
  height: var(--hamburgerHeight, 20px);
  position: relative;
}

.m-hamburger::before,
.m-hamburger::after,
.m-hamburger__label {
  width: 100%;
  height: var(--uiHamburgerThickness);
  border-radius: var(--hamburgerBorderRadius, 5px);
  background-color: var(--hamburgerBackgroundColor, currentColor);
  position: absolute;
  left: 0;
}

.m-hamburger::before,
.m-hamburger::after {
  content: "";
}

.m-hamburger::before {
  top: 0;
}

.m-hamburger::after {
  bottom: 0;
}

.m-hamburger__label {
  /* The calculation of middle hamburger button line position */
  top: calc(50% - calc(var(--uiHamburgerThickness) / 2));
}


/* helper to hide elements that are available only for screen readers. */

.screen-reader {
  width: var(--screenReaderWidth, 1px) !important;
  height: var(--screenReaderHeight, 1px) !important;
  padding: var(--screenReaderPadding, 0) !important;
  border: var(--screenReaderBorder, none) !important;
  position: var(--screenReaderPosition, absolute) !important;
  clip: var(--screenReaderClip, rect(1px, 1px, 1px, 1px)) !important;
  overflow: var(--screenReaderOverflow, hidden) !important;
}


/*
=====
MENU STYLES
=====
*/

.menu {
  --uiMenuCircleSize: var(--menuCircleSize, 6.25rem);
  --uiMenuCircleOffset: var(--menuCircleOffset, 1rem);
  --uiMenuCircleHeight: calc(var(--uiMenuCircleSize) / 2);
  --uiMenuCircleBackgroundColor: var(--menuCircleBackgroundColor, currentColor);
  --uiMenuHamburgerWidth: var(--menuHamburgerWidth, 1.75rem);
  --uiMenuHamburgerHeight: var(--menuHamburgerHeight, 1.25rem);
  --rButtonPaddingTop: calc(var(--uiMenuCircleHeight) - var(--uiMenuHamburgerHeight) - var(--uiMenuCircleOffset));
  --hamburgerWidth: var(--uiMenuHamburgerWidth);
  --hamburgerHeight: var(--uiMenuHamburgerHeight);
  --hamburgerBackgroundColor: var(--menuHamburgerBackgroundColor, #fff);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--menuZindex, 9998);
}

.menu__nav {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  transition: opacity .2s ease-out;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  z-index: 2;
}

.menu__list {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.menu__toggle {
  box-sizing: border-box;
  width: var(--uiMenuCircleSize);
  height: var(--uiMenuCircleHeight);
  flex: none;
  position: relative;
  z-index: 0;
}

.menu__toggle::before {
  /*
  1. The font-size property is used to simplify calculations of the element's sizes and position
  2. The negative value for the bottom property need for hiding half of circle. 
  */
  content: "";
  width: 1em;
  height: 1em;
  font-size: var(--uiMenuCircleSize);
  /* 1 */
  background-color: var(--uiMenuCircleBackgroundColor);
  border-radius: 50%;
  position: absolute;
  bottom: -.5em;
  /* 2 */
  left: calc(50% - .5em);
  z-index: -1;
  will-change: width, height;
  transition: transform .25s cubic-bezier(0.04, -0.1, 0.29, 0.98), width .25s cubic-bezier(0.04, -0.1, 0.29, 0.98), height .25s cubic-bezier(0.04, -0.1, 0.29, 0.98);
}


/* styles of hamburger's animation */

.m-hamburger::before,
.m-hamburger::after,
.m-hamburger__label {
  transition-timing-function: ease;
  transition-duration: .15s;
}

.m-hamburger::before,
.m-hamburger::after {
  transition-property: transform;
}

.m-hamburger__label {
  transition-property: transform, opacity;
}


/*
=====
MENU STATES
=====
*/

.menu__toggle:focus {
  outline: var(--menuHaburgerOutlineOWidth, 2px) solid var(--menuHaburgerOutlineColor);
  outline-offset: var(--menuHaburgerOutlineOffset, 5px);
}

.menu_activated {
  height: 100%;
}

.menu_activated .menu__nav {
  flex-grow: 1;
  opacity: 1;
  will-change: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
}

.menu_activated .menu__toggle::before {
  width: 100vmax;
  height: 100vmax;
  transform: translate3d(-50vh, -50vh, 0) scale(5);
  transition-duration: 1s;
}

.menu:not(.menu_activated) .menu__list {
  display: none;
}

.menu_activated .m-hamburger::before {
  top: 50%;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}

.menu_activated .m-hamburger::after {
  transform: translate3d(0, -50%, 0) rotate(135deg);
  top: 50%;
}

.menu_activated .m-hamburger__label {
  transform: rotate(-45deg) translate3d(-.285em, -.3em, 0);
  opacity: 0;
}


/*
=====
SETTINGS
=====
*/

:root {
  --colorWhite: #fff;
  --colorMain: #A77337;
  --menuCircleBackgroundColor: var(--colorMain);
  --menuHamburgerBackgroundColor: var(--colorWhite);
  --menuHaburgerOutlineColor: var(--colorMain);
}

.menu_activated {
  --menuHaburgerOutlineColor: var(--colorWhite);
}


/*
=====
DEMO
=====
*/

.page {
  max-width: 380px;
  padding: 1rem;
  margin: auto;
  text-align: center;
}

.page__name {
  display: block;
  font-size: 2rem;
  font-weight: 700;
}

.page__hint {
  display: block;
  line-height: 1.45;
  margin-top: 1rem;
}

.menu__group {
  --rLinkTextColor: var(--colorWhite);
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.sticky-top {
  position: -webkit-sticky!important;
  position: sticky!important;
  top: 0px!important;
  z-index: 1020!important;
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  #product_details .main-product_img {
    height: 240px;
    width: 100%;
  }
  #product_details {
    padding: 20px 0px 10px 0px;
  }
  .wack_waffle_pizza {
    text-align: center;
    margin: 15px 0px;
  }
  .wack_waffle_pizza_h3 {
    text-align: center;
  }
  .offer-p {
    border-bottom: 1px solid #fff;
    margin: 0px 0px 15px 0px;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
  }
  #search h6 {
    text-align: center!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
  .tab-panel {
    display: none;
  }
  .click_menu {
    display: all;
  }
  .sticky-top {
    position: -webkit-sticky!important;
    position: sticky!important;
    top: 0px!important;
    z-index: 1020!important;
  }
  .product_bottom_border img {
    max-width: 35%;
    height: auto;
  }
  .product_bottom_border h4 {
    margin-top: 10px;
    font-size: 1rem;
  }
  .product_bottom_border p {
    font-size: 12px;
    line-height: 15px;
  }
  .has-search {
    margin-top: 8px 0px 0px 0px!important;
  }
  .show_noly_md {
    height: 0px!important;
    margin-top: 20px;
  }
  .my-auto {
    margin-top: 20px!important;
  }
  .tab-content span {
    margin-bottom: 10px;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  ...
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  ...
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  ...
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
  .click_menu {
    display: none;
  }
}